.animation-container {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.animated-element {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: moveRight 3s linear infinite;
}

@keyframes moveRight {
    0% {
        left: -50px;
    }
    100% {
        left: 100%;
    }
}